.nav {
    background: cornflowerblue;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    max-width: 1500px;

    width: 75%;
    margin-top: 50px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.icon {
    border: solid;
    border-width: 1px;
    padding: 12px;


    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
}

.button_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.settings_bg {
    position: relative;

    height: 35px;
    width: 35px;

    background: #F3F3F3;
    box-shadow: 1px 1px 3px #CCCCCC, -1px -1px 3px #FFFFFF;
    border-radius: 5px;
}

.settings{
    position: absolute;

    top: 0px;
    left: 0px;
}